@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Raleway:wght@100;200;400&display=swap');


.fondo{
  background-color: #000;
  background-image: radial-gradient(46.42% 61.12% at 51.98% -2.35%, rgba(64, 64, 64, 0.8) 0%, rgba(70, 70, 70, 0) 100%);}

.fondo-boton{
  background: rgb(68,181,172);
background: linear-gradient(90deg, rgba(68,181,172,1) 25%, rgba(33,210,206,0.8631827731092436) 39%, rgba(56,180,187,1) 61%, rgba(38,235,228,1) 86%);
}


.fondo-botones{
  background: rgb(98,122,228);
background: linear-gradient(90deg, rgba(98,122,228,1) 15%, rgba(87,103,179,1) 36%, rgba(79,97,179,1) 64%, rgba(58,80,182,1) 96%);
}
body{
  margin: 0;
 
}

.font-titulo{
  font-family: 'Black Ops One', cursive !important;
  
}

.headerComponent {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
 
}

.videoContainer {
  width: 100%;
  height: 100%;
  background-color: #383838;
  margin-bottom: 200px;
}

.absolutee {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(11, 11, 12, 0.3) 0%,
    #0a0909 100%
  ); 
}

.headerTitle {
  color: rgba(255, 255, 255, 0.8);
  
}
.headerTitle h1 {
    font-size: 80px;
    font-family: "Pushster", cursive;
    letter-spacing: 5px;
  }
  .headerTitle h2 {
    font-size: 25px;
    font-family: "Roboto", sans-serif;
  }
@media screen and (min-width: 4000px) {
  .videoContainer video {
    width: 100%;
  }
}

.background-content {
  background: #0a0909;
}


.botonActive{
  left: 0px;
  transition: 1s all;
}
.botonDesactive{
  left: -400px;
  transition: 1s all;
  
}

.modal{
    position: absolute;
    top: 0px;
    z-index: 100000
  
   
}